[submodule "util"]
	path = util
	url = https://github.com/thestinger/util.git
[submodule "subprojects/vte"]
	path = subprojects/vte
	url = https://github.com/aperezdc/vte
	branch = vte-0.64.0-termite
